# Global snippets

# (c) holds no legal value ;)
snippet c)
	`&enc[:2] == "utf" ? "©" : "(c)"` Copyright `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date
	`strftime("%Y-%m-%d")`

snippet bye

	--
	Sergio (Serge) Rey
	Professor, School of Geographical Sciences and Urban Planning
	GeoDa Center for Geospatial Analysis and Computation
	Arizona State University
	http://geoplan.asu.edu/rey

	Editor, International Regional Science Review
	http://irx.sagepub.com
